{% load static %}

<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{% url 'home' %}"><img src="{% static 'images/logo-scritta.png'%}"/></a></h1>
        <nav>
          <ul>
            {% if user.is_authenticated %}
              <li>
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
              </li>
              <li><a href="{% url 'posts:crea' %}" class="highlight">Nuovo post</a></li>

            {% else %}
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
              <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
